rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public write access for registrations, but no read or update.
    match /registrations/{registrationId} {
      allow read: if request.auth != null;
      allow create: if true;
      allow update, delete: if request.auth != null;
    }
  }
}
